$dark: #16191C;
$white: #FFFFFF;
$pink: #FF3366;
$bg-color: #22272B;
$bg-content: #2C343A;
$green: #4CAF50;
$red: #F44336;

$border-color: #424242;
$border-dark:#5E5E6E;
$border-radius: 3px;

$text-color: #212121;
$text-grey: $border-color;
$text-light: #757575;

$button-primary: #424250;
$navbar-bg-color: #16191C;

// Calendar Color
$calendar-green: #8CD049;
// Input Variable
$border-input-color: $border-color;
$border-input-radius: $border-radius;