// Include
// -Input Text
// -Input Button
// -Select Box
// Etc

input.form-control, select.form-control, textarea.form-control{
	outline: 0;
    border-color: $border-input-color;
    box-shadow: none;
    border-radius: $border-input-radius;
    &:focus{
    	box-shadow: none;
    }
}